*{
    margin:0;
padding:0;
}

.layout {
    display:flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100vw;
    height: 100vh;
}

#glogo{
    height:92;
    width:272;
    margin: 20px;
}

.headfoot {
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 50px;
    padding: 20px;
    box-sizing:border-box;
    
}

.foot{
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-around;

}

li{
    display:inline;
    padding: 10px;
}

#footer{
    background-color: rgba(240, 240, 240, 0.979);
    box-sizing:border-box;
    padding:20px;
    flex-wrap: wrap;
    color:rgba(80, 79, 79, 0.979)
}


#main{
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

}

#gsearch{
    width:487px;
    height:39px;
    border-radius: 20px;
    border-style: solid;
    border-color:rgb(216, 215, 215)
    
}

#dots{
    width:24px;
    height:24px;
}